/* ===================================
   Toast
=================================== */

:root {   
    --toast-bg: rgba(50,50,50,0.9);         /* Standard-Hintergrund für den Toast */  
    --toast-font: rgba(255,255,255,1);      /* Schriftfarbe in Toast */   
    --toast-border: rgba(255,255,255,1);    /* Randfarbe für Toast */                                    
    --toast-shadow: rgba(0, 0, 0, 0.2);     /* Schatten für Toast */

    /* Spezielle Farben für den Toast-Hintergrund */
    --toast-success-bg: rgba(88,204,88,1);  /* Grün für Erfolgsmeldungen */
    --toast-error-bg: rgba(220,50,50,1);    /* Rot für Fehlermeldung */
    --toast-info-bg: rgba(50,50,50,0.9);    /* Dunkelgrau für Info */
}

/* Toast-Container:
    Alle Toasts werden oben rechts gerendert und gestapelt */
.toast-container {
    position: fixed;
    top: 20px;
    right: 20px;
    display: flex;
    flex-direction: column-reverse; /* neuer Toast oben */
    gap: 10px;
    z-index: 1001; /* Index 1 höher als Modal-Overlay*/
}

/* Der Toast selbst:
    Größe, Farbe, Schatten und Animation */
.toast {
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid var(--toast-border);
    color: var(--toast-font);
    font-weight: bold;
    box-shadow: 0 4px 12px var(--toast-shadow);
    background-color: var(--toast-bg);
    pointer-events: none; /* Toast verhindert keine Klicks auf Elemente dahinter */

    opacity: 0;
    transform: translateY(-20px) scale(0.95); /* 20px nach oben verschoben und etwas kleiner */
    transition: opacity 0.3s ease, transform 0.3s ease; /* sanftes Einblenden und Ausblenden */
}

/* Zustand nach dem Einblenden */
.toast.toast--show {
    opacity: 1;
    transform: translateY(0px) scale(1);
}

/* Grüner Hintergrund bei Erfolgsmeldungen */
.toast.toast--success {
    background-color: var(--toast-success-bg);
}
/* Roter Hintergrund bei Fehlermeldung */
.toast.toast--error {
    background-color: var(--toast-error-bg);
}
/* Dunkelgrauer Hintergrund für neutrale Info */
.toast.toast--info {
    background-color: var(--toast-info-bg);
}