:root {
  /* ===================================
     Header
  =================================== */
  --color-header: rgba(0, 0, 255, 1);              /* Blau für Header-Hintergrund */
  --color-header-font: rgba(255, 255, 255, 1);     /* Weiß für Header-Text */

  /* Navigation Buttons */
  --color-bg-navigationButtons: rgba(128, 128, 128, 1);        /* Grau für Buttons */
  --color-bg-navigationButtons-hover: rgba(66, 66, 66, 1);     /* Dunkleres Grau beim Hover */
  --color-navigationButtons: rgba(255, 255, 255, 1);           /* Weiß für Button-Text */

  /* ===================================
     Kalender-Grid
  =================================== */
  --color-bg-calendarGrid: rgba(218, 218, 218, 1);           /* Hellgrauer Hintergrund für Grid */
  --color-bg-calendarRows: rgba(85, 85, 160, 0.36);          /* Leicht transparentes Blau für Reihen */
  --color-bg-calendarCells: rgba(255, 255, 0, 1);            /* Gelb für Zellen */
  --color-border-currentDay: rgba(255, 0, 0, 1);             /* Rot für aktuellen Tag */

  /* ===================================
     Tasks
  =================================== */
  --color-bg-tasks: rgba(255, 243, 176, 1);                 /* Hellgelb für Tasks */
  --color-bg-tasks-hover: rgba(248, 216, 75, 1);            /* Intensiveres Gelb beim Hover */
  --color-boxShadow-tasks: rgba(0, 0, 0, 0.1);              /* Schatten für Tasks */
  --color-boxShadow-tasks-hover: rgba(0, 0, 0, 0.2);        /* Hover-Schatten für Tasks */
  --color-taskEmployee-font: rgba(85, 85, 85, 1);           /* Dunkelgrau für Mitarbeitertext */
  --color-bg-endDateTask: rgba(255, 97, 97, 1);             /* Blasses Rot für Tasks am Enddatum */
  --color-bg-endDateTask-hover: rgba(248, 29, 29,1);        /* Intensiveres Rot beom Hover */

  /* ===================================
     Neue Task
  =================================== */
  --color-bg-newTask: rgba(255,255,255,1);                  /* Weiß für neuen Task Container */
  --color-bg-newTask-hover: rgba(247, 247, 247, 0.8);       /* Leichtes Grau beim Hover */
  --color-newTaskButton-font: rgba(0, 128, 0, 1);           /* Grüne Schrift für +Neue Aufgabe Button */

  /* ===================================
     Footer
  =================================== */
  --color-footer: rgba(85, 85, 85, 1);                      /* Dunkelgrau für Footer-Hintergrund */
  --color-footer-font: rgba(255, 255, 255, 1);              /* Weiß für Footer-Text */
}