/* ===================================
   Modal
=================================== */
:root {
    --modal-overlay-bg: rgba(0,0,0,0.5);        /* transparenter grauer Hintergrund für das Overlay */
    --modal-content-bg: rgba(255,255,255,1);    /* Weißer Hintergrund für Inhalt des Modals */
}

.modal__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--modal-overlay-bg);
    display: none; 
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal__overlay.modal--active {
    display: flex;
}

.modal__content {
    background: var(--modal-content-bg);
    padding: 20px;
    width: 500px;
    max-width: 80%;
    position: relative;
}

/* Close-Button für das Modal */
.modal__close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}