/* ===================================
   Task Formular
=================================== */

:root {
    --task-form-submit-button-text: rgba(255,255,255,1);
    --task-form-submit-button-bg: rgba(0,0,255,1);
    --task-form-submit-button-bg-hover: rgba(0, 62, 128, 1);
}

.task-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 500px;
    width: 100%;  
}

.task-form__headline {
    display: flex;
    justify-content: center;
}

.task-form__group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.task-form__label {
    font-weight: bold;
}

.task-form__input {
    padding: 10px;
    font-size: 1rem;
}

.task-form__textarea {
    padding: 10px;
    font-size: 1rem;
    resize: vertical;
    line-height: 1.4rem;
}

/*--- Submit Button ---*/

.task-form__submit-button {
    padding: 12px;
    font-size: 1rem;
    font-weight: bold;
    color: var(--task-form-submit-button-text);
    background-color: var(--task-form-submit-button-bg);
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.2s, transform 0.1s;
}

.task-form__submit-button:hover {
    background-color: var(--task-form-submit-button-bg-hover); 
}

.task-form__submit-button.active {
    transform: scale(0.99);
}