/* ===================================
   Task Formular
=================================== */

.task-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 500px;
    width: 100%;  
}

.task-form-headline {
    display: flex;
    justify-content: center;
}

.task-form-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.task-form-label {
    font-weight: bold;
}

.task-form-input {
    padding: 10px;
    font-size: 1rem;
}

.task-form-textarea {
    padding: 10px;
    font-size: 1rem;
    resize: vertical;
    line-height: 1.4rem;
}

/*--- Submit Button ---*/

.form-button {
    padding: 12px;
    font-size: 1rem;
    font-weight: bold;
    color: rgba(255,255,255,1);
    background-color: rgba(0,0,255,1);
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.2s, transform 0.1s;
}

.form-button:hover {
    background-color: rgba(0, 62, 128, 1); 
}

.form-button.active {
    transform: scale(0.99);
}